################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Draughts-C-/FileContentIndex/9fa3977f-6716-49b5-88a8-52d24f497f0d.vsidx
*.vsidx
/.vs/Draughts-C-/FileContentIndex/82d927a5-869f-4bfb-8514-799e4759296f.vsidx
/.vs/Draughts-C-/FileContentIndex/50b44f62-1188-4256-b89a-26c76c22a9ce.vsidx
/.vs/Draughts/FileContentIndex/92fdaee3-7344-48c1-b6c3-0d2a4802471e.vsidx
/.vs/Draughts/FileContentIndex/4d6462bd-08ec-4fef-ab8e-9fba3eacc797.vsidx
