################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Draughts-C-/FileContentIndex/9fa3977f-6716-49b5-88a8-52d24f497f0d.vsidx
